.page {
  font-family: "WorkSans", sans-serif;
  letter-spacing: 0;
  background-color: #f8eeff;
  background-image: url("../assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top center;
  background-size: contain;
  padding: 167.5px 0;
}
@media (max-width: 571px) {
  .page {
    background-image: url("../assets/images/background-pattern-mobile.svg");
    padding: 130.5px 0;
  }
}
